@import url(fonts/css/fontiran.css);
@import url(fonts/css/hugofont.css);

body {
    font-size: 200%;
    text-align: center;
    font-family: IRANSans;
    background-color: #3C99B6;
   
}

p {
    font-weight: normal;
    margin-bottom: 0.3em;
    margin-top: 0.3em;
    text-align: right;
    direction:rtl;
}

pre {
    text-align: left;
}

h1, h2, h3, h4 {
    font-weight: normal;
    margin-bottom: 0.3em;
    margin-top: 0.3em;
    direction:rtl;
    border-radius: 10px;
}

tt {
    font-size: 125;
}

ul {
    list-style-position: inside;
}

li {
    font-family: IRANSans;
    font-weight: normal;
    margin-bottom: 0.3em;
    margin-top: 0.3em;
    padding-left: 0.3em;
    line-height: 1.8em;
    text-align: right;
}

ol {
	direction:rtl
}

ul {
	direction:rtl
}

a {
    text-decoration: none;
    color: black;
}

.hidden {
    display: none;
}

img {
    background: #666;
    border-radius: 10px;
    border-color: #F0EAE6;
    border-width: 1px;
    border-style: solid;
}

h1 {
    background-color: #37484f;
    color:rgb(255,255,255);
}

h2 {
    background-color: #05e676;
}
